<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAYOUT_1</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav2">HOME</div>
            <div class="nav2">PRODUCTS</div>
            <div class="nav2">ABOUT US</div>
            <div class="nav2">CONTACT</div>
        </nav>
        <figure id="f1">
            <img src="flores.jpg" alt="flores">
            <figcaption>Lugar de interes 1</figcaption>
        </figure>
        <figure id="f2">
            <img src="flores.jpg" alt="flores">
            <figcaption>Lugar de interes 2</figcaption>
        </figure>
        <figure id="f3">
            <img src="flores.jpg" alt="flores">
            <figcaption>Lugar de interes 3</figcaption>
        </figure>
        <figure id="f4">
            <img src="flores.jpg" alt="flores">
            <figcaption>Lugar de interes 4</figcaption>
        </figure>
    </div>
</body>
</html>