$grey:rgba(175, 175, 175, 0.747);
$grey2:rgb(179, 179, 179);
$white:white;
$black:black;
$verde:green;
$rojo:red;
$morado:purple;
$cyan:cyan;
$amarillo:yellow;
$gris:rgb(46, 46, 46);
$naranja:orange;
$link-normal: blue;
$link-hover: yellow;
$link-visited: green;
$link-active: black;
$back:rgba(0, 0, 255, 0.445);
$light-theme:true;
$dark-theme:true;

$container-width:90%;
$margin-container:5%;
$margin-bottom:50px;
$margin-top:30px;
$img-h-w:200px;
$height:300px;
$h2:400px;
$width:50%;
$w1:40%;
$w2:60%;
$w3:30%;
$w4:100%;
$div-width:80%;
$margin-div:10%;
$radio:50%;