/* This is a comment */
/* Style Sheet for Jaberwocky Tutorial */

/* Body */
body {background-color: tan}

/* Headers */
h1 {color:maroon; font-size:20pt}

/* HR (Hard Rule = line) */
hr {color:navy}

/* Paragraphs */
p {font-size:12pt; margin-left: 15px}
p.verse {color:maroon; margin-left: 60px} /*LOS ELEMENTOS P QUE TENGAN UNA CLASE VERSE*/

/* Divs */

/* Links */
a:link     {color:green} /*COLOR DEL LINK*/
a:visited  {color:yellow} /*CUANDO YA HEMOS VISITADO EL LINK*/
a:hover    {color:black} /*CUANDO PONEMOS EL RATÓN ENCIMA*/
a:active   {color:blue} /*MIENTRAS LO PINCHAMOS,TERMINA CUANDO SE SUELTA*/

/* Navigation */

/* Classes used by all html elements */

/* Ids */


